@import url("components/navbar.css");
@import url("components/footer.css");
@import url("components/header.css");
@import url("components/pop-in.css");
@import url("components/form.css");

body{
  background: #131416;
  margin: 0px
}

a{
  text-decoration: underline;
  color: #E6E1E4;
  font-family: Roboto;
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 1px;
}

.container {
  padding: 10%;
  padding-right: 216px;
  padding-bottom: 16px;
  padding-top: 16px;
  padding-left: 216px;
}

@media (max-width: 960px) {
  .container{
    width: 600px;
  }
}

@media (max-width: 720px) {
  .container{
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container{
    width: 300px;
  }
}